<h1>Welcome to Exercise 4</h1>
<p>Login to /inside by using the device code flow</p>


<button *ngIf="!loginURL" (click)="startDeviceCodeFlow()">Login</button>


<div class="qrcodeImage" *ngIf="loginURL">
  <qrcode [qrdata]=" loginURL" [allowEmptyString]="true" [cssClass]="'center'" [colorDark]="'#34A3BB'"
    [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
    [title]="'A custom title attribute'" [width]="300" [imageSrc]="'./assets/img/cidaas.jpg'" [imageHeight]="70"
    [imageWidth]="58">
  </qrcode>
</div>
